body {
  background-image: url(https://images.unsplash.com/photo-1557684459-6f545f2438cb?ixlib=rb-1.2.1&auto=format&fit=crop&w=3150&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.title {
  color: #363636;
}

 .contact-input{
  margin: auto;
  width: 30%;
} 

.field{
  margin: auto;
  width: 100vw;
}

.textarea {
  max-width: 30%;
  min-width: 30%;
} 

.contact-header{
  text-transform: none;
  color: blanchedalmond;
}

.label{
  color: white;
}